<head>
<link rel="stylesheet" href='/static/style.css'>
<style>
#TopHeader {
    border: 0px solid #154360;
    padding: 25px;
    background: #154360;
    font-size: 30px;
    color: #A9CCE3;
    text-align: center;
}
#HyperLinks {
    border: 2px solid #154360;
    background: #85C1E9;
    font-size: 15px;
    color: #AED6F1;
    column-count: 3;
    column-gap: 40px;
}
#LoginHeader {
    
}
#Login {
    font-size: 15px;
    color: #154360;
}

</style>

<body>
<div id="TopHeader">
    <h1>My Website</h1>
</div>
<p> motivational messages</p>

<p style="font-size: 20px"> Login</p>
</body>
<form action="action_page.php" method="post">
  <div id="Login">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <br>
    
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <br>
    
    <button type="submit">Login</button>
  </div>
  
<a href="http://192.168.0.14:5000/signup">Sign up</a>
</form>

<br>

<body>
<div id="HyperLinks">
    <a href="http://127.0.0.1:5000/cakes">Cakes</a>
    <br>
    <a href="http://127.0.0.1:5000/motivational">Motivational Quotes</a>
    <br>
    <a href="http://127.0.0.1:5000/todo">To Do List</a>
    <br>
    <a href="http://127.0.0.1:5000/cakes">Filler</a>
    <br>
    <a href="http://127.0.0.1:5000/cakes">Filler</a>
    <br>
    </div>
</body>
</html>

