<!DOCTYPE html>
<html lang = "en">
<style>
body {font-family: Arial;}
input[type=text], input[type=password]

</style>
<body>

<form action="/action_page.php" style="border:1px solid #ccc">
  <div>
    <h1>Sign Up</h1>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

      <button onclick="returnText() class="signupbtn">Sign Up</button>
  </div>
</form>
</body>
</html>
